# Pandas

## What is Pandas?
A Python library providing data structures and data analysis tools.

## Why
- Alternative to Excel or R
- Based on Data Frames (think of it like a table) and Series (single column table / time series)

## Learning Pandas
* Almost anything you want to do is already a built-in function in Pandas.
* Before you decide to write a function to do some kind of operation on a Pandas object, scour the Pandas docs and StackOverflow
* http://pandas.pydata.org/pandas-docs/stable/index.html

## Objectives

- Create/Understand Series objects
- Create/Understand DataFrame objects
- Create and destroy new columns, apply functions to rows and columns
- Join/Merge Dataframes
- Use DataFrame grouping and aggregation
- Perform high-level EDA using Pandas

## How to create a dataframe

In [1]:
import pandas as pd

In [2]:
a_list = [1, 2, 3, 4]

In [3]:
another_list = ['a', 'b', 'c', 'd']

In [4]:
mydict = {'col_one': a_list, 'col_two': another_list}

In [5]:
df = pd.DataFrame(mydict)

In [8]:
df.head()

   col_one col_two
0        1       a
1        2       b
2        3       c
3        4       d

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
col_one    4 non-null int64
col_two    4 non-null object
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

## How to add or append another column to your list

In [10]:
## New data must be same length as dataframe it is going into.
moredata = ['birdman', 'drake', 'lil wayne', 'kanye']

In [11]:
df['rappers'] = moredata

In [12]:
df.head()

   col_one col_two    rappers
0        1       a    birdman
1        2       b      drake
2        3       c  lil wayne
3        4       d      kanye

## How to fill a new column with a value.

In [13]:
df['ones'] = 1.0

In [14]:
df.head()

   col_one col_two    rappers  ones
0        1       a    birdman   1.0
1        2       b      drake   1.0
2        3       c  lil wayne   1.0
3        4       d      kanye   1.0

## How to do math with your dataframe.

In [15]:
df['col_one']

0    1
1    2
2    3
3    4
Name: col_one, dtype: int64

In [16]:
df['ones']

0    1.0
1    1.0
2    1.0
3    1.0
Name: ones, dtype: float64

In [17]:
df['multi'] = df['col_one'] * df['ones']

In [18]:
df.head()

   col_one col_two    rappers  ones  multi
0        1       a    birdman   1.0    1.0
1        2       b      drake   1.0    2.0
2        3       c  lil wayne   1.0    3.0
3        4       d      kanye   1.0    4.0

## How to apply a function to a column

In [19]:
df['rappers']

0      birdman
1        drake
2    lil wayne
3        kanye
Name: rappers, dtype: object

In [20]:
df['length'] = df['rappers'].apply(lambda x: len(str(x)))

In [21]:
df.head()

   col_one col_two    rappers  ones  multi  length
0        1       a    birdman   1.0    1.0       7
1        2       b      drake   1.0    2.0       5
2        3       c  lil wayne   1.0    3.0       9
3        4       d      kanye   1.0    4.0       5

In [22]:
df['multi'] = df['multi'].astype(int)

In [23]:
df.head()

   col_one col_two    rappers  ones  multi  length
0        1       a    birdman   1.0      1       7
1        2       b      drake   1.0      2       5
2        3       c  lil wayne   1.0      3       9
3        4       d      kanye   1.0      4       5

## How to delete or drop a COLUMN from your dataframe

In [24]:
df.drop('rappers', axis=1, inplace=True)

In [25]:
df.head()

   col_one col_two  ones  multi  length
0        1       a   1.0      1       7
1        2       b   1.0      2       5
2        3       c   1.0      3       9
3        4       d   1.0      4       5

## How to delete or drop a ROW from your dataframe.

In [ ]:
df = df.drop(1, axis=0)

In [ ]:
df.head()

## How to drop missing data

In [ ]:
import numpy as np
a_list = [1, 2, 3, 4, np.nan]
b_list = ['birdman', 'drake', 'lil wayne', np.nan, 'kanye']
c_list = ['a', 'b', 'c', 'd', 'e']
mydict = {'col_1': a_list, 'col_2': b_list, 'col_3': c_list}
df = pd.DataFrame(mydict)
df.head()

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(axis=1)

## How to fill in missing data

In [ ]:
a_list = [1, 2, 3, 4, np.nan]
b_list = ['birdman', 'drake', 'lil wayne', np.nan, 'kanye']
c_list = ['a', 'b', 'c', 'd', 'e']
mydict = {'col_1': a_list, 'col_2': b_list, 'col_3': c_list}
df = pd.DataFrame(mydict)
df.head()

In [ ]:
df.fillna(0)

In [ ]:
df.mean()

In [ ]:
df['col_2'].fillna('man')

In [ ]:
df['col_2']

## Unique Values, Value Counts, and Conditional Selecting are so handy all the time

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
obj

In [ ]:
uniques = obj.unique()

In [ ]:
print(uniques)

In [ ]:
print(obj.value_counts())

In [ ]:
mask = obj.isin(['b', 'c'])
print(mask)

In [ ]:
print(obj[mask])

## Group By: split-apply-combine

By "group by" we are referring to a process involving one or more of the following steps

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

In [ ]:
df['A'].unique()

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A', 'B']).sum()

## Index are your new bbf.
Indicies are just like columns, but for rows.

In [ ]:
### Here is a dataframe of all the 2012 baseball hitting stats
df = pd.read_csv("data/Batting.csv")

In [ ]:
df.head(5)

In [ ]:
df.info()

### How to set your index

In [ ]:
df['teamID'].unique()

In [ ]:
# use the set_index function and pass in the name of the column you would like to set as the index
df = df.set_index('teamID')

In [ ]:
df.head()

### How to use your index
Now that your index is set, you can easily return items that match your request.

In [ ]:
df.ix['NYA']

In [ ]:
df.loc['NYA']

In [ ]:
df.iloc[3]

### How to reset your index

In [ ]:
df.reset_index().head(5)

## Filters, masks, conditional selections and all that fun stuff.

In [ ]:
df = pd.read_csv('data/Batting.csv')

What if you wanted to know all the people that had....
* More than 100 at bats
* More than 50 home runs
* In the years from 1980 to 2000.

In [ ]:
condition1 = df['AB'] > 100

In [ ]:
condition2 = df['HR'] > 50

In [ ]:
condition3 = df['yearID'] < 2000

In [ ]:
condition4 =  df['yearID'] > 1980

In [ ]:
filtered_df = df[ condition1 & condition2 & condition3 & condition4 ]

In [ ]:
filtered_df

## Time-series variable
``df['date_time_object'] = pd.to_datetime(df['the date col'])`` Works 72% of the time.

In [ ]:
df = pd.read_csv('data/Batting.csv')

In [ ]:
df = df[['yearID', 'playerID', 'teamID']]

In [ ]:
df.head()

In [ ]:
pd.to_datetime(df['yearID'])

In [ ]:
pd.to_datetime(df['yearID'], format='%Y')

In [ ]:
df['dt_object'] = pd.to_datetime(df['yearID'], format='%Y')

In [ ]:
df['dt_object'][0]

### Datetime index is so awesome!

In [ ]:
df = df.set_index('dt_object')

In [ ]:
df

In [ ]:
df.loc['2010-01-01': '2013-01-01']

### Plot time series aggregation

In [ ]:
df.head()

In [ ]:
df['count']=1

In [ ]:
% matplotlib inline

In [ ]:
df['count'].resample("365D").sum().plot()

## Functions I use all the time.

<table>
<tr><td>**Pandas function**</td><td>**WHAT IT DOES**</td></tr>
<tr><td>``import pandas as pd``</td><td>imports pandas as pd</td></tr>
<tr><td>``df = pd.read_csv('path-to-file.csv')``</td><td>load data into pandas</td></tr>
<tr><td>``df.head(5)``</td><td>prints the first n lines. in this case 5 lines</td></tr>
<tr><td>``df.index``</td><td>prints the index of your dataframe </td></tr>
<tr><td>``df.columns``</td><td>prints the columns of your dataframe</td></tr>
<tr><td>``df.set_index('col')``</td><td>make the index (aka row names) the values of a column</td></tr>
<tr><td>``df.reset_index()``</td><td>reset index</td></tr>
<tr><td>``df.columns = ['new name1', 'new name2']``</td><td>rename cols</td></tr>
<tr><td>``df = df.rename(columns={'old name 1': 'new name 1', 'old2': 'new2'})``</td><td>rename specific col</td></tr>
<tr><td>``df['col']``</td><td>selects one column</td></tr>
<tr><td>``df[['col1', 'col2']]``</td><td>select more than one col</td></tr>
<tr><td>``df['col'] = 1``</td><td>set the entire col to equal 1</td></tr>
<tr><td>``df['empty col'] = np.nan``</td><td>make an empty column</td></tr>
<tr><td>``df['col3'] = df['col1'] + df['col2']``</td><td>create a new col, equal the the sum of other cols</td></tr>
<tr><td>``df.ix[0]``</td><td>select row 0</td></tr>
<tr><td>``df.ix[5:100]``</td><td>select rows 5 through 100</td></tr>
<tr><td>``df.ix[1,2,3,4]``</td><td>select rows 1,2,3 and 4</td></tr>
<tr><td>``df.ix[0]['col']``</td><td>select row and column, reterive cell value</td></tr>
<tr><td>``del df['col']``</td><td>delete or drop or remove a column</td></tr>
<tr><td>``df.drop('col', axis=1)``</td><td>delete or drop or remove a column</td></tr>
<tr><td>``df.drop('row')``</td><td>delete or drop or remove a row</td></tr>
<tr><td>``df = df.sort('col', ascending=False)``</td><td>sort data frame on this column</td></tr>
<tr><td>``df.sort(['col', 'col2'], ascending=False)``</td><td>sort data by col1, then by col2</td></tr>
<tr><td>``solo_col = df['col']``</td><td>make a variable that is equal the col</td></tr>
<tr><td>``just_values = df['col'].values``</td><td>returns an array with just the values, NO INDEX</td></tr>
<tr><td>``df[(df['col'] == 'condition') ]``</td><td>return df when col is equal to condition</td></tr>
<tr><td>``df[(df['col 1'] == 'bob') & (df['col 2'] > 75) ]``</td><td>return df when one col meets this condition AND another col meets another condition</td></tr>
<tr><td>``df['col'][(df['col1'] == 'this') & (df['col2'] > 'that')] = 'new val'``</td><td>set col1 to new value when col1 == this, and col2 == that if this then than </td></tr>
<tr><td>``df.groupby('col').sum()``</td><td>group by groupby a column and SUM all other (that can acutally be summed)</td></tr>
<tr><td>``df.plot(kind='bar')``</td><td>make a bar plot. **kind**= 'bar' or 'line' or 'scatter' or 'kde' or 'pie' or 'area'</td></tr>
<tr><td>``alist = df['cols'].values``</td><td>extract just the values of a column into a list to use somewhere else ususally</td></tr>
<tr><td>``a_matrix = df.as_matrix()``</td><td>extract just the values of a whole dataframe as a matrix; this will remove the index and the column names. I use it usually to put into a like sklearn or some other algo</td></tr>
<tr><td>``df.sort(axis=1)``</td><td>sort by column names ie; if your df columns were 'z' 'd' 'a' df.sort(axis=1) would reorder columns to be 'a' 'd' 'z</td></tr>
<tr><td>``df.sort('col', axis=0)``</td><td>will sort by the 'col' column with lowest vals at top</td></tr>
<tr><td>``df.sort('col', axis=0, ascending=True)``</td><td>will sort by the 'col' column with highest vals at top</td></tr>
<tr><td>``df.sort(['col-a', 'col-b'], axis=0) ``</td><td>sort by more than one column</td></tr>
<tr><td>``df.sort_index()``</td><td>this will sort the index, your index</td></tr>
<tr><td>``df.sort_index(by='col-a')``</td><td>this is the same thing as just doing df.sort('col-a') </td></tr>
<tr><td>``df.rank()``</td><td>it keeps your df in order, but ranks them in within their own col, for example: if your df['col'] == [99, 69] df['col'].rank == [2,1]</td></tr>
<tr><td>``df = pd.DataFrame({'col-a': alist, 'col-b': otherlist})``</td><td>how to put or how to insert a list into a data frame, how to build a dataframe</td></tr>
<tr><td>``df.dtypes``</td><td>will print out the type of value that is in each column; ie (int, or float, or object, or timestamp)</td></tr>
<tr><td>``df['float-col'].astype(np.int)``</td><td>will change columns data type. np.int stands for numpy.integer. you can do np.int, np.float, np.string_ how to change the column type</td></tr>
<tr><td>``joined = dfone.join(dftwo)``</td><td>join two dataframes if the keys are in the index</td></tr>
<tr><td>``merged = pd.merge(dfone, dftwo, on='key col')``</td><td>merge two dataframes on a similar column or a key column</td></tr>
<tr><td>``pd.concat([dfone, dftwo, series3])``</td><td>like, append data to the end of a dataframe, this will make your data frame LONGER add data to end of a df, add data below df, add data as rows</td></tr>
<tr><td>``pd.concat([dfone, dftwo, series3], axis=1)``</td><td>append data but as columns, like, this will make your data frame WIDER, (possibly longer if new data is longer than old data)</td></tr>
</table>